/* *****************************MAIN***************************** */
h2{
    padding: 1em 1em;
    font-size: 1.2em;
}

.card{
    max-width: 320px;
    height: 60px;
    border-radius: 1rem;
    background-color: var(--secondary);
    padding: 1rem;
    margin: 1.5em 2em;
}

.header {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    gap: 1rem;
  }

  .icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: var(--primary);
    padding: 0.3rem;
    color: var(--white);
  }

  .icon svg {
    height: 1rem;
    width: 1rem;

  }

  .title {
    font-weight: 700;
    font-size: medium;
    text-transform: uppercase;
    color: var(--primary);
  }

